*.gir
*.lo
*.log
*.o
*.status
*.typelib
*~
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build/
config.h
config.h.in
configure
configure.scan
ghbci-marshal.c
ghbci-marshal.h
libghbci.so
stamp-h1
